:root {
  --ydBgColor: #547119;
  --ydColor: #2196f3;
}

body {
  /* 这里 postcss 会加一句  “background: #547119;” 来兼容低版本浏览器 */
  background: var(--ydBgColor);
}

.test {
  & h1 {
    color: var(--ydColor);
  }
}

.qq {
  height: 200px;
}
